@import 'vars';

header {
  position: relative;
  background: url(../img/banner_bg.png) center center no-repeat;
    background-size: cover;
    z-index: 2;
  @media (min-width: 992px) {
    height: 735px;    
  }
  .logo {
    margin-top: 30px;
  }

  .phone {
    font-size: 30px;
    color: #fff;
    font-family: 'Akzidenz-Grotesk Pro Light Cnd';
    text-decoration: none;
  }
}

.banner__content {
  color: #fff;
  height: 180px;
  .banner__title {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.1;
    margin-bottom: 20px;
  }
  @media (min-width: 992px) {
    height: 440px;
    display: flex;
      flex-direction: column;
      justify-content: center;
    .banner__title {
      padding-top: 40px;
      padding-left: 110px;
      font-size: 40px;
      text-transform: uppercase;
      line-height: 1.1;
      position: relative;
      margin-bottom: 20px;
      &:after {
        content: '';
        display: block;
        width: 255px;
        height: 255px;
        border-radius: 4px;
        background: @color url(../img/banner-img.png) 0 185px no-repeat;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
      }
    }
    .banner__description {
      padding-left: 295px;
    }
  }
}

.btn {
  display: block;
  padding: 16px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 18px;
  background: @color;
  font-family: 'Akzidenz-Grotesk Pro Light Cnd';
  text-decoration: none;
  transition: all .4s;
  &:hover {
    background: darken(@color, 10%);
  }
  &.btn__trsn {
    background: transparent;
    border: 1px solid @color;
    &:hover {
      background: @color;
    }
  }
  &.btn__iconed {
    padding-left: 55px;
    background: url(../img/download.png) 15px 15px no-repeat;
  }
  &.btn-small {
    padding: 7px 25px;
    display: inline-block;
  }
}